version: '3.8'
services:
  frontend:
#    build:
#      context: ../Client
#      dockerfile: Dockerfile
    image: daneshtoshniwal/client1
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    networks:
      - app_network
#    depends_on:
#      - backend

  backend:
#    build:
#      context: ../Server
#      dockerfile: Dockerfile
    image: daneshtoshniwal/server1
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    networks:
      - app_network

networks:
  app_network:
    driver: bridge